body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #1a1a1a;
    font-family: Arial, sans-serif;
}

.heading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 28px;
    color: #fff;
    margin-top: 20px;
}

.calculator {
    border: none;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: #2d2d2d;
    width: 300px;
    height: 400px;
    text-align: center;
    color: #fff;
}

#display {
    width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 28px;
    text-align: right;
    border: none;
    border-bottom: 1px solid #444;
    outline: none;
    background-color: #555;
    box-sizing: border-box;
    color: #fff;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    padding: 20px;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3a3a3ada;
    
    color: #fff;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #11ff00cc;
}

.operator {
    background:linear-gradient(to left,#00e7c0,#1203ebf3);
}

#clear {
    background:linear-gradient(to top left, #ff0400,blue);
}

#equals {
    background-color: #008b09;
}
.name{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
    background:linear-gradient(to left,rgb(255, 145, 0),rgb(0, 60, 255));
}
.calculator-title {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 28px;
        color: #fff;
        margin-top: 0px;
 
}
.footer {
    margin-top: 20px;
    font-size: 14px;
    color: #ffd500;
}